<!doctype html>
<html lang="en-gb" class="template-{{page.template.name}}">
<head>
	<meta name="robots" content="noindex, nofollow">

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="format-detection" content="telephone=no">

	<title>{{page.meta_title}}</title>

	<meta name="description" content="This page is called {{page.title}}">

	<link rel="preload" as="script" href="./js/uikit-core.min.js">
	<link rel="preload" as="script" href="./js/nbkit.min.js">

	<link rel="apple-touch-icon" sizes="180x180" href="./apple-touch-icon.png">
	<link rel="icon" type="image/png" sizes="32x32" href="./favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="16x16" href="./favicon-16x16.png">
	<link rel="manifest" href="./site.webmanifest">
	<link rel="mask-icon" href="./safari-pinned-tab.svg" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#da532c">
	<meta name="theme-color" content="#ffffff">

	<link rel="stylesheet" href="./css/uikit-theme.min.css" />
	<link rel="stylesheet" href="./css/main.min.css" />
</head>
<body data-load-components="{{loadComponents}}" class="page-{{#if page.bgColor}}{{page.bgColor}}{{else}}default{{/if}}">

	<header class="header" data-uk-sticky="media: 960; animation: uk-animation-slide-top; show-on-up: true;">
		<nav class="uk-navbar-container uk-navbar uk-navbar-transparent uk-position-relative" data-uk-navbar>

			<a href="./" class="uk-navbar-item uk-logo uk-padding-remove-horizontal uk-position-center-left">
				<img src="{{logo}}" alt="{{nb.siteName}} Logo">
			</a>

			{{#if menu}}
				<div id="nav">
					<a href="./" class="uk-navbar-item uk-logo uk-padding-remove-horizontal uk-position-top-left uk-hidden@m">
						<img src="./img/logo-mob.png" alt="{{nb.siteName}} Logo">
					</a>
					{{> renderNavigation}}
					<div class="uk-hidden@m uk-flex uk-flex-middle uk-flex-column">
						<a href="#" class="uk-text-uppercase uk-text-small uk-text-bold nb-share">Share exhibition</a>
						<a href="#" class="uk-button uk-button-default uk-margin-small-bottom">Contact Us</a>
						{{> renderSocial}}
					</div>
				</div>
				<a href="#nav" class="uk-navbar-toggle" data-uk-toggle="animation: uk-animation-slide-top;" aria-label="Toggle Navigation" hidden>
					<span role="presentation"></span>
				</a>
			{{/if}}

		</nav>
		<a href="#" class="uk-button uk-button-default uk-flex uk-visible@m">Contact</a>
	</header>

	<main class="uk-margin-bottom">
		{{> banner}}

		{{> renderSocial type="fixed" class="uk-visible@m"}}

		<a href="#" class="uk-text-uppercase uk-text-small uk-position-fixed uk-position-center-left uk-position-z-index uk-text-bold nb-share uk-visible@m">Share exhibition</a>

		{{#> main}}{{/main}}

	</main>

	<footer class="footer" data-uk-scrollspy="cls: line-draw-animation;">
		{{#> ukContainer class="uk-text-center"}}

			{{#*inline "out"}}

			<h2 class="uk-text-uppercase uk-margin-remove-top" data-uk-scrollspy="cls:uk-animation-fade">Visit The Other Islands</h2>

			<div class="islands" data-uk-scrollspy="target: a; cls: uk-animation-fade; delay: 500">
				<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-wrap">
				{{#each islands}}
					{{#with this}}
					<a href="{{url}}" target="_blank" rel="noopener" class="uk-text-uppercase uk-text-small uk-position-relative uk-padding uk-padding-remove-vertical">{{name}}</a>
					{{/with}}
				{{/each}}
				</div>
			</div>

			<div class="uk-flex uk-flex-middle uk-flex-center contact" data-uk-scrollspy="cls:uk-animation-slide-left">
				<div class="uk-flex uk-flex-center">
					<a href="#" class="uk-button uk-button-default uk-flex">Contact Us</a>
				</div>
				{{> renderSocial}}
			</div>

			<div class="partners" data-uk-scrollspy="cls:uk-animation-slide-right">
				<span class="uk-text-center uk-display-block">Funders & Partners</span>
				<div class="uk-flex uk-flex-center uk-flex-middle uk-flex-wrap">
				{{#each partners}}
					{{#with this}}
					<a href="{{url}}" target="_blank" rel="noopener"><img src="./img/{{image}}" alt="{{name}}" loading="lazy"></a>
					{{/with}}
				{{/each}}
				</div>
			</div>

			{{/inline}}
		{{/ukContainer}}
		<div class="footer-bottom uk-flex uk-flex-between uk-flex-middle">
			<div class="copyright">&copy; {{nb.clientName}}</div>
			
			{{#if legal}}
			<div class="legal">
				<ul>
				{{#each legal}}
					<li>
						<a href="#">{{this}}</a>
					</li>
				{{/each}}
				</ul>
			</div>
			{{/if}}

			<div class="watermark">
				Website by <a title="NB Communication - Digital Marketing Agency" target="_blank" rel="noopener" href="https://www.nbcommunication.com/">NB</a>
			</div>
		</div>
	</footer>

	<script src="./js/svgxuse.min.js"></script>
	<script src="./js/uikit-core.min.js"></script>
	<script src="./js/nbkit.min.js"></script>
	<script src="./js/vivus.min.js"></script>
	<script src="./js/main.js"></script>

</body>
</html>
