{{#if (eq type "post")}}
    <div class="uk-card card {{#if (eq type "post")}}card-post {{#if bgColor}}uk-background-{{bgColor}}{{/if}}{{/if}}{{#if icon}}card-image{{/if}}{{#if quotation}}card-horizontal{{/if}}{{#if marginTop}} card-margin-{{marginTop}}-top{{/if}}">
        {{#if url}}
            <a href="{{url}}" class="uk-position-cover" aria-label="{{label}}"></a>
        {{/if}}
        {{#if quotation}}
        {{else}}
            <div class="uk-card-media-top uk-position-relative uk-flex uk-flex-column uk-flex-right{{#if title}} uk-light{{/if}}{{#if src}} uk-overflow-hidden{{else}} no-image{{/if}}">
                {{#if title}}<h3 class="uk-position-left-bottom uk-position-z-index">{{title}}</h3>{{/if}}
                {{#if src}}
                    <img src="./img/{{src}}.jpg" alt="{{alt}}" loading="lazy" width="{{width}}" height="{{height}}">
                {{/if}}
                {{#if description}}
                    <div class="uk-position-center uk-flex uk-flex-center uk-flex-middle">
                        <p class="uk-text-small uk-width-3-5 uk-text-center">{{description}}</p>
                    </div>
                {{/if}}
                {{#if icon}}
                    <span class="uk-icon-button uk-position-bottom-right" role="presentation">
                        {{> renderIcon name="plus"}}
                    </span>
                {{/if}}
            </div>
        {{/if}}
        {{#if hasSummary}}
            <div class="uk-card-body">
                <div class="uk-flex uk-flex-right">
                    <span class="uk-text-small uk-width-4-5">{{intro}}</span>
                </div>
                <blockquote>
                    <p>{{cite}}</p>
                    <div class="uk-flex uk-flex-column">
                        <span class="uk-text-meta">{{quotee}}</span>
                        <span class="detail">{{quoteDetail}}</span>
                    </div>
                </blockquote>
                {{#if link}}
                    <a href="{{url}}" class="uk-position-bottom-left uk-button uk-button-primary" aria-label="{{label}}">
                        {{> renderIcon name="chevron-right" class="uk-position-center-left"}}
                        <span class="uk-position-relative">{{label}}</span>
                    </a>
                {{/if}}
            </div>
        {{/if}}
    </div>
{{/if}}